// SPDX-License-Identifier: GPL-2.0
/**************************************************************************************************
 *
 * Copyright (c) 2019-2024 Axera Semiconductor Co., Ltd. All Rights Reserved.
 *
 * This dts file is the property of Axera Semiconductor Co., Ltd. and
 * may not be copied or distributed in any isomorphic form without the prior
 * written consent of Axera Semiconductor Co., Ltd.
 *
 **************************************************************************************************/

/dts-v1/;
#include "AX620E.dtsi"

/ {
	aliases {
		ethernet0 = &eth0;

		serial0 = &ax_uart0;
		serial1 = &ax_uart1;
		serial2 = &ax_uart2;
		serial3 = &ax_uart3;
		serial4 = &ax_uart4;
		serial5 = &ax_uart5;
		spi0 = &spi0;
		spi1 = &spi1;
		spi2 = &spi2;
		spi3 = &spi_slv;
		spi4 = &spi4;

		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		i2c5 = &i2c5;
		i2c6 = &i2c6;
		i2c7 = &i2c7;
		mmc0 = &emmc;
		mmc1 = &sd;
		mmc2 = &sdio;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x0 0x40000000 0x0 0x80000000>;
	};
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		ramoops_mem@48000000 {
			compatible = "ramoops";
			reg = <0x0 0x48000000 0x0 0xf0000>;
			record-size = <0x40000>;
			console-size = <0x80000>;
			ftrace-size = <0x20000>;
		};
		axera_memory_dump@0 {
			compatible = "axera_memory_dump";
			reg = <0x0 0x480f0000 0x0 0x3000>;
			no-map;
		};
		atf_reserved: atf_memreserved {
			reg = <ATF_RESERVED_START_HI ATF_RESERVED_START_LO ATF_RESERVED_SIZE_HI ATF_RESERVED_SIZE_LO>;
			no-map;
		};
#ifdef OPTEE_BOOT
		optee_reserved: optee_memserved {
			reg = <OPTEE_RESERVED_START_HI OPTEE_RESERVED_START_LO OPTEE_RESERVED_SIZE_HI OPTEE_RESERVED_SIZE_LO>;
			no-map;
		};
#endif
		axera_ddr_retrain@0 {
			compatible = "axera_ddr_retrain";
			reg = <0x0 0x40000000 0x0 0x1000>;
		};
	};

	chosen {
		bootargs = BOOTARGS;
	};

	sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,name = "Axera Audio";
		simple-audio-card,widgets =
			"Microphone", "Mic Jack";
		simple-audio-card,routing =
			"AMIC", "Mic Jack";
		#address-cells = <1>;
		#size-cells = <0>;
		simple-audio-card,dai-link@0 {
			format = "i2s";
			bitclock-master = <&codec_m6>;
			frame-master = <&codec_m6>;
			capture-only;
			cpu {
				sound-dai = <&i2s_inner_slv0>;
			};
			codec_m6: codec {
				sound-dai = <&audio_codec>;
				system-clock-frequency = <12288000>;
			};
		};
		simple-audio-card,dai-link@1 {
			format = "i2s";
			playback-only;
			cpu {
				sound-dai = <&i2s_inner_mst0>;
			};
			codec {
				sound-dai = <&audio_codec>;
				system-clock-frequency = <12288000>;
			};
		};
	};

	axera_logctl {
		compatible = "axera,logctl";
		config = "/etc/ax_syslog.conf";
		logstate = /bits/ 8 <1 1>;
		loglevel = /bits/ 8 <4 4>;
	};

};

&pwm0 {
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&deb_gpio_lp_emmc {
	lp-num = <0xB>; /* use db_gpio11 as wakeup source */
	status = "okay";
};

&bwlimiter {
	status = "okay";
};

&i2c0 {
	status = "okay";
};


&i2c2 {
	status = "okay";
};

&ax_uart0 {
	// compatible = "axera,axera-uart";
	status = "okay";
};

// DMA has an error, do not use.
&ax_uart1 {
	// compatible = "axera,axera-uart";
	status = "okay";
	axera,uart-16550-compatible = <1>;
	/delete-property/dmas;
	/delete-property/dma-names;
};

&wdt0 {
	status = "okay";
};

&wdt2 {
	status = "okay";
};

&emmc{
	max-frequency = <200000000>;
	sdhci-caps-mask = <0x2 0x03200000>;
	bus-width = <8>;
	no-sdio;
	no-sd;
	non-removable;
	disable-wp;
	cap-mmc-hw-reset;
	/* AX630C use GPIO2_A23 */
	hw-reset = <&ax_gpio2 23 0>;
	/* AX620Q use GPIO1_A0 */
	/* hw-reset = <&ax_gpio1 0 0>; */
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	cdns,phy-input-delay-sd-highspeed = <2>;
	cdns,phy-input-delay-legacy = <4>;
	cdns,phy-input-delay-sd-uhs-sdr12 = <1>;
	cdns,phy-input-delay-sd-uhs-sdr25 = <2>;
	cdns,phy-input-delay-sd-uhs-sdr50 = <1>;
	cdns,phy-input-delay-sd-uhs-ddr50 = <2>;
	cdns,phy-input-delay-mmc-legacy = <1>;
	cdns,phy-input-delay-mmc-highspeed = <2>;
	cdns,phy-input-delay-mmc-ddr = <2>;
	cdns,phy-dll-delay-sdclk = <45>;
	cdns,phy-dll-delay-sdclk-hsmmc = <23>;
	cdns,phy-dll-delay-strobe = <18>;
	fixed-emmc-driver-type = <4>;
	status = "okay";
};

&sd{
	sdhci-caps-mask = <0x7 0x00200000>;
	bus-width = <4>;
	max-frequency = <200000000>;
	cap-sd-highspeed;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-ddr50;
	sd-uhs-sdr104;
	no-sdio;
	no-mmc;
	disable-wp;

	cd-gpios = <&ax_gpio1 11 0>;
	cd-inverted;
	cd-debounce-delay-ms = <300>;

	cdns,phy-input-delay-sd-highspeed = <2>;
	cdns,phy-input-delay-legacy = <3>;
	cdns,phy-input-delay-sd-uhs-sdr12 = <3>;
	cdns,phy-input-delay-sd-uhs-sdr25 = <2>;
	cdns,phy-input-delay-sd-uhs-sdr50 = <1>;
	cdns,phy-input-delay-sd-uhs-ddr50 = <1>;
	cdns,phy-dll-delay-sdclk = <0>;

	status = "okay";
};

&i2c4 {
	#address-cells = <0x1>;
	#size-cells = <0x0>;
	status = "okay";

	typec: sgm7220@47 {
		compatible = "axera,sgm7220";
		reg = <0x47>;
		int-gpio = <&ax_gpio1 9 0>;
		// chanel-sel = <&ax_gpio0 30 0>;
		bind-usb = "8000000.dwc3";
		status = "okay";
		
	};

	leds: led-controller@30 {
		compatible = "ti,lp5562";
		reg = <0x30>;
		clock-mode = /bits/ 8 <1>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		chan@0 {
			chan-name = "R";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
			reg = <0>;
			color = <1>;
		};

		chan@1 {
			chan-name = "G";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
			reg = <1>;
			color = <2>;
		};

		chan@2 {
			chan-name = "B";
			led-cur = /bits/ 8 <0x20>;
			max-cur = /bits/ 8 <0x60>;
			reg = <2>;
			color = <3>;
		};
	};
};

&usb {
	status = "okay";
};

&usb2 {
	dr_mode = "otg";
	// extcon = <&extcon_usb>;
	// dr_mode = "peripheral";
	status = "okay";
};


&audio_codec {
	gpio-mic-rp = <&ax_gpio1 7 0>; /* GPIO1_A7 */
	gpio-mic-rn = <&ax_gpio1 6 0>; /* GPIO1_A6 */
	gpio-mic-ln = <&ax_gpio1 5 0>; /* GPIO1_A5 */
	gpio-mic-lp = <&ax_gpio1 4 0>; /* GPIO1_A4 */
	gpio-pa-speaker = <&ax_gpio1 8 0>;
	status = "okay";
};

//playback
&i2s_inner_mst0 {
	status = "okay";
	/*i2s - pad0*/
	i2s-m-aec-cycle-sel = <0>;    /*23-22*/
	i2s-m-aec-sclk-sel = <0>;     /*21*/
	i2s-inner-codec-en = <1>;     /*20*/
	i2s-exter-codec-en = <0>;     /*19*/
	i2s-m-exter-codec-en = <0>;   /*18*/
	i2s-exter-codec-mst = <0>;    /*17*/
	i2s-m-exter-codec-mst = <0>;  /*16*/
	iis-out-tdm-en = <0>;         /*15*/
	iis-m-out-tdm-en = <0>;       /*14*/
	i2s-m-rx0-sel = <0>;          /*13*/
	i2s-m-rx1-sel = <0>;          /*12-11*/
	i2s-s-rx0-sel = <0>;          /*10-9*/
	i2s-s-rx1-sel = <2>;          /*8-7*/
	i2s-s-sclk-sel = <0>;         /*6-5*/
	tdm-m-rx-sel = <0>;           /*4-3*/
	tdm-s-rx-sel = <0>;           /*2-1*/
	tdm-s-sclk-sel = <0>;         /*0*/
};
// capture
&i2s_inner_slv0 {
	status = "okay";
	/*i2s - pad0*/
	i2s-m-aec-cycle-sel = <0>;    /*23-22*/
	i2s-m-aec-sclk-sel = <0>;     /*21*/
	i2s-inner-codec-en = <1>;     /*20*/
	i2s-exter-codec-en = <0>;     /*19*/
	i2s-m-exter-codec-en = <0>;   /*18*/
	i2s-exter-codec-mst = <0>;    /*17*/
	i2s-m-exter-codec-mst = <0>;  /*16*/
	iis-out-tdm-en = <0>;         /*15*/
	iis-m-out-tdm-en = <0>;       /*14*/
	i2s-m-rx0-sel = <0>;          /*13*/
	i2s-m-rx1-sel = <0>;          /*12-11*/
	i2s-s-rx0-sel = <0>;          /*10-9*/
	i2s-s-rx1-sel = <2>;          /*8-7*/
	i2s-s-sclk-sel = <0>;         /*6-5*/
	tdm-m-rx-sel = <0>;           /*4-3*/
	tdm-s-rx-sel = <0>;           /*2-1*/
	tdm-s-sclk-sel = <0>;         /*0*/
};

&eth0 {
	status = "okay";

	phy-handle = <&phy0>;
	phy-mode = "rmii";
	axera-ephy,led0-mode = <EPHY_LED_SPEED>;
	axera-ephy,led0-enable;
	axera-ephy,led1-mode = <EPHY_LED_LINK>;
	axera-ephy,led1-enable;
	axera-ephy,led-polarity = <EPHY_LED_LOW_ACTIVE>;
	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";
		phy0: axera-ephy@1 {
			device_tpye = "ethernet-phy";
			compatible = "ethernet-phy-id0044.1400";
			reg = <1>;
		};
	};
};


&ddr_dfs {
       status = "okay";
};

&ive {
	status = "okay";
};

&vdec {
	status = "okay";
};

&venc {
	status = "okay";
};

&jenc {
	status = "okay";
};

&tdp {
	status = "okay";
};

&gdc {
	status = "okay";
};

&vpp {
	status = "okay";
};

&axera_rtc_pwr {
        status = "okay";
};

&hwinfo {
	status = "okay";
};

&drm0 {
	status = "okay";
};

&drm1 {
	status = "okay";
};

&crtc0 {
	status = "okay";
};

&crtc1 {
	status = "okay";
};

&vo0 {
	status = "okay";
};

&vo1 {
	status = "okay";
};

&bt_dpi0 {
	status = "okay";
};

&bt_dpi1 {
	status = "okay";
};

&dma {
	status = "okay";
};

&dma_per {
	status = "okay";
};

&dmac {
	status = "okay";
};

&ax_perf_bm {
	status = "okay";
};

&ax_firewall {
	status = "okay";
};
